.pageTitle{
    color: var(--dark-violet, #2E2F5B);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 5%;
    padding-top: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.normalText{
    color: var(--dark-violet, #2E2F5B);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 5%;
    padding-top: 4px;
    margin-top: 8px;

}

.filter_span{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-left: 5%;
}

.buttons_span{
    display: flex;
    gap:8px;
}

.lineOfInputs{
    display: flex;
    align-items: center;
    gap: 18px;
}

.cadreInputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.horizontalLine {
    border-top: 1px solid #B8B8B8;
    height: 1px;
    width: 100%;
  }

.outerCadre{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-left: 5%;
    width:90%;
}
.buttonSpan_downpage{
    display: flex;
    flex-direction: row-reverse;
    gap:12px;
    align-items: center;
    padding-right: 5%;
    padding-top: 8px;
  }

  .loader_container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Optional: To make sure the container covers the full viewport height */
  }
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #2E2F5B;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap:10px;
    margin-right: 105px;

}

.label_style {
    color: var(--darkviolet, #2e2f5b);
    font-family: Montserrat;
    font-size: 16px;
    font-style: medium;
    font-weight: 500;
    line-height: normal;
    gap: 16px;
    display: flex;
}