.primaryButtonY{
    border-radius: 8px;
    background: var(--yellow, #F4D35E);
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-style: none;
}

.primaryButtonY:hover {
    cursor: pointer;
    background: var(--yellow, #e2be3d);
}

.primaryButtonY:active {
    cursor: pointer;
    background: var(--yellow, #b8992b);
}

.primaryButtonB{
    border-radius: 8px;
    background: var(--light-violet, #505581);
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-style: none;
}

.primaryButtonB:hover{
    cursor: pointer;
    background: var(--light-violet, #3f436d);
}

.primaryButtonB:active{
    cursor: pointer;
    background: var(--light-violet, #2f3358);
}

.primaryButtonR{
    border-radius: 8px;
    background: var(--red, #d22b2b);
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-style: none;
}
.primaryButtonG{
    border-radius: 8px;
    background: var(--red, #0b4c16);
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-style: none;
}
.primaryButtonG:hover {
    cursor: pointer;
    background: var(--red, #073f10);
}
.primaryButtonG:active {
    cursor: pointer;
    background: var(--red, #042709);
}

.primaryButtonR:hover {
    cursor: pointer;
    background: var(--red, #bd2020);
}
.primaryButtonR:active {
    cursor: pointer;
    background: var(--red, #941515);
}

.primaryButtonB:hover {
    cursor: pointer;
}

.secondary{
    color: var(--light-violet, #505581);
    background-color: transparent;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-style: none;
    text-underline-offset: 4px;
}

.secondary:hover {
    cursor: pointer;
}


.secondary:hover {
    cursor: pointer;
}
.third{
    color: var(--white, #FFF);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-style: none;
    text-underline-offset: 4px;
    background-color: transparent;
}

.third:hover {
    cursor: pointer;
}

.third:active {
    cursor: pointer;
    color: var(--white, #ffffffc0);
}

.attacherdocument {
    color: var(--darkviolet, #2e2f5b);
    background-color: transparent;
    border:none;
    text-align: left;
    font: 500 16px "Montserrat", sans-serif;
    text-decoration: underline;
    position: relative;
  }

  .attacherdocument:hover {
    cursor: pointer;
}