  .labelontop {
    display: inline-flex;
    flex-direction: column;
    color: var(--dark-violet, #2E2F5B);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap:8px;
  }

  .labelonleft {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    color: var(--dark-violet, #2E2F5B);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap:16px;
  }

  .labelonleft select {
    max-width: 150px;
  }

  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:16px;
}

  .extralarge {
    background: var(--ffffff-white, #ffffff);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--d-4-d-4-d-4-light-grey, #d4d4d4);
    border-width: 1px;
    width: 560px;
    position: relative;
  }

  .extralarge:disabled {
    background: var(--d-4-d-4-d-4-light-grey, rgba(255, 255, 255, 0.116));
    border-radius: 4px;
    border-style: solid;
    border-color: var(--d-4-d-4-d-4-light-grey, #d4d4d4);
    border-width: 1px;
    width: 560px;
    position: relative;
  }

  .verylarge {
    background: var(--ffffff-white, #ffffff);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--d-4-d-4-d-4-light-grey, #d4d4d4);
    border-width: 1px;
    width: 442px;
    position: relative;
  }

  .verylarge:disabled {
    background: var(--d-4-d-4-d-4-light-grey, rgba(255, 255, 255, 0.116));
    border-radius: 4px;
    border-style: solid;
    border-color: var(--d-4-d-4-d-4-light-grey, #d4d4d4);
    border-width: 1px;
    width: 442px;
    position: relative;
  }

  .large{
    background: var(--ffffff-white, #ffffff);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--d-4-d-4-d-4-light-grey, #d4d4d4);
    border-width: 1px;
    width: 287px;
    position: relative;
  }

  .large:disabled{
    background: var(--d-4-d-4-d-4-light-grey, rgba(255, 255, 255, 0.116));
    border-radius: 4px;
    border-style: solid;
    border-color: var(--d-4-d-4-d-4-light-grey, #d4d4d4);
    border-width: 1px;
    width: 287px;
    position: relative;
  }

  .overaverage {
    background: var(--ffffff-white, #ffffff);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--d-4-d-4-d-4-light-grey, #d4d4d4);
    border-width: 1px;
    width: 232px;
    position: relative;
  }

  .overaverage:disabled {
    background: var(--d-4-d-4-d-4-light-grey, rgba(255, 255, 255, 0.116));
    border-radius: 4px;
    border-style: solid;
    border-color: var(--d-4-d-4-d-4-light-grey, #d4d4d4);
    border-width: 1px;
    width: 232px;
    position: relative;
  }


  .average {
    background: var(--ffffff-white, #ffffff);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--d-4-d-4-d-4-light-grey, #d4d4d4);
    border-width: 1px;
    width: 162px;
    position: relative;
  }

  .average:disabled {
    background: var(--d-4-d-4-d-4-light-grey, rgba(255, 255, 255, 0.116));
    border-radius: 4px;
    border-style: solid;
    border-color: var(--d-4-d-4-d-4-light-grey, #d4d4d4);
    border-width: 1px;
    width: 162px;
    position: relative;
  }

  .belowaverage {
    background: var(--ffffff-white, #ffffff);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--d-4-d-4-d-4-light-grey, #d4d4d4);
    border-width: 1px;
    width: 128px;
    position: relative;
  }

  .belowaverage:disabled {
    background: var(--d-4-d-4-d-4-light-grey, rgba(255, 255, 255, 0.116));
    border-radius: 4px;
    border-style: solid;
    border-color: var(--d-4-d-4-d-4-light-grey, #d4d4d4);
    border-width: 1px;
    width: 128px;
    position: relative;
  }

  .belowbelowaverage {
    background: var(--ffffff-white, #ffffff);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--d-4-d-4-d-4-light-grey, #d4d4d4);
    border-width: 1px;
    width: 104px;
    position: relative;
  }

  .small {
    background: var(--ffffff-white, #ffffff);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--d-4-d-4-d-4-light-grey, #d4d4d4);
    border-width: 1px;
    width: 92px;
    position: relative;
  }

  .small:disabled {
    background: var(--d-4-d-4-d-4-light-grey, rgba(255, 255, 255, 0.116));
    border-radius: 4px;
    border-style: solid;
    border-color: var(--d-4-d-4-d-4-light-grey, #d4d4d4);
    border-width: 1px;
    width: 92px;
    position: relative;
  }

  .undersmall {
    background: var(--ffffff-white, #ffffff);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--d-4-d-4-d-4-light-grey, #d4d4d4);
    border-width: 1px;
    width: 85px;
    position: relative;
  }

  .verysmall {
    background: var(--ffffff-white, #ffffff);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--d-4-d-4-d-4-light-grey, #d4d4d4);
    border-width: 1px;
    width: 45px;
    position: relative;
  }

  .verysmall:disabled {
    background: var(--d-4-d-4-d-4-light-grey, rgba(255, 255, 255, 0.116));
    border-radius: 4px;
    border-style: solid;
    border-color: var(--d-4-d-4-d-4-light-grey, #d4d4d4);
    border-width: 1px;
    width: 45px;
    position: relative;
  }
